@charset "utf-8";


#flex_box{
    width:1000px;
    height:500px;
    margin:0 auto;
   
    display:flex;
    flex-wrap:wrap;
    margin-bottom:300px;
    
}

.item1{
    background-color:gray;
    flex-basis: 100%;
}
.item2{
    background-color:skyblue;
    flex-basis:20%;
}
.item3{
    background-color:red;
    flex-basis: 55%;
}
.item4{
    background-color:beige;
    ;flex-basis:25%
}   
.item5{
    background-color:gray;
    flex-basis: 100%;
}
.items{
    border:1px solid black;
    box-sizing: border-box;
}

.item1, .item5{
    height:100px;
}
.item2, .item3, .item4{
    height:400px;
}

#flex_box2{
    display:flex;
    width:1000px;
    margin:0 auto;
    height:500px;
    flex-wrap:wrap;
    margin-bottom:300px;
    
}



.flex_box2_items1{
    flex-basis: 100%;
    background-color: red;
    height:100px;
    border:1px solid black;
    box-sizing: border-box;
}
.flex_box2_items2{
    flex-basis: 30%;
    background-color: rgb(211, 247, 7);
    height:400px;
    border:1px solid black;
    box-sizing: border-box;
}
.flex_box2_items3{
    flex-basis: 70%;
    
    height:400px;
    display:flex;
    flex-wrap:wrap;
}

.flex_box2_items3 > div:nth-of-type(1){
    flex-basis: 100%;
    height:300px;
    background-color: green;
border:1px solid black;
box-sizing: border-box;
}
.flex_box2_items3 > div:nth-of-type(2){
    flex-basis: 100%;
    height:100px;
    background-color: rgb(32, 35, 199);
    border:1px solid black;
    box-sizing: border-box;
}

#flex_box3{
    display:flex;
    flex-wrap:wrap;
    width:1000px;
    height:500px;
   
    margin:0 auto;
    
}



.flex_box3_items1{
    flex-basis: 100%;
    height:150px;
    background-color: yellow;
    border:1px solid black;
    box-sizing: border-box;
}

.flex_box3_items2{
 display:flex;
 flex-basis: 100%;
 height:350px;
}

#box3_item1{
    flex-basis: 20%;
    background-color: skyblue;
    border: 1px solid black;
    box-sizing: border-box;
}

#box3_item2{
    flex-basis: 80%;
    display:flex;
   flex-wrap:wrap;
   height:350px;
    
}

#zz_2{
    flex-basis: 25%;
    background-color: Red;
    border: 1px solid black;
    box-sizing: border-box;

}

#gg{
    height:175px;
    background-color:red;
    flex-basis: 100%;
    display:flex;
}
#bb{
    height:175px;
    background-color:rgb(241, 10, 164);
    flex-basis: 100%;
    border:1px solid black;
    box-sizing: border-box;
}

#zz_1{
     border:1px solid black;
     box-sizing: border-box;
    flex-basis: 75%;
    background-color: aqua;
}

.border{
    border:2px solid black;
    box-sizing: border-box;
}




#flex_box4{
    display:flex;
    width:1000px;
    height:500px;
    margin:200px auto;
   
    flex-wrap:wrap;
}

.box4_item1{
    flex-basis: 100%;
    background-color:rgb(30, 212, 197);
    height:100px;
    border:1px solid black;
    box-sizing: border-box;
}

.box4_item2{
    height:300px;
    display:flex;
    flex-basis: 100%;
    
}

#box4_flex1{
    flex-basis:30%;
    height:300px;
    background-color: aqua;
    border:1px solid black;
    box-sizing: border-box;
}

#box4_flex2{
    flex-basis: 70%;
    height:300px;
    background-color:orange;
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    border:1px solid black;
    box-sizing: border-box;
}

.box4_item3{
    height:100px;
    flex-basis: 100%;
    background-color:rgb(30, 212, 197);
    border:1px solid black;
    box-sizing: border-box;
}

.box4_flex2_box{
   
    height:160px;
    border:1px solid black;
    box-sizing: border-box;
}
.box4_flex2_box:nth-of-type(1){
    flex-basis: 28%;
}
.box4_flex2_box:nth-of-type(2){
    flex-basis: 28%;
}
.box4_flex2_box:nth-of-type(3){
    flex-basis: 28%;
}


#flex_box5{
    width:1000px;
    height:500px;
    margin:200px auto;
    
    display:flex;
    flex-wrap:wrap;
}

.flex_box5_item1{
   flex-basis: 100%;
   background-color:black;
   height:200px;
   display:flex;
   box-sizing: border-box;
}

.flex_box5_item1 > div:nth-of-type(1){
    flex-basis: 20%;
    background-color: yellow;
    border:1px solid black;
    box-sizing: border-box;
}
.flex_box5_item1 > div:nth-of-type(2){
    flex-basis: 30%;
    background-color: yellow;
    border:1px solid black;
    box-sizing: border-box;
}
.flex_box5_item1 > div:nth-of-type(3){
    flex-basis: 50%;
    background-color: yellow;
    border:1px solid black;
    box-sizing: border-box;
}

.flex_box5_item2{
    display:flex;
    height:300px
    ;flex-basis: 100%;
    box-sizing: border-box;
}

.flex_box5_item2 > div:nth-of-type(1){
    flex-basis: 30%;
    border:1px solid black;
    box-sizing: border-box;
}

.uu{
    display:flex;
    flex-wrap:wrap;
    box-sizing: border-box;
}

.uu>div{
    flex-basis: 100%;
    border:1px solid black;
    box-sizing: border-box;
    background-color:rgb(53, 187, 187)
}

.last{
    height:300px;
    display:flex;
    flex-wrap:wrap;
    flex-basis:70%;
    
}

.zi_1{
    flex-basis: 15%;
    border:1px solid black;
    box-sizing: border-box;
    background-color:pink;
}

.zi_2{
    flex-basis: 70%;
   
    display:flex;
    flex-wrap:wrap;
}

.zi_2_div1{
    flex-basis: 100%;
    height:150px;
    border:1px solid black;
    box-sizing: border-box;
    background-color: orange;
}

.zi_2_div2{
    flex-basis: 100%;
    height:150px;
  
    display:flex;
    flex-wrap:wrap;
  
}

.bibi_11{
    height:150px;

    display:flex;
    flex-wrap:wrap;
}

.bibi_11:nth-of-type(1){
    flex-basis: 50%;
}
.bibi_11:nth-of-type(2){
    flex-basis: 50%;
}

.sha_1{
    flex-basis: 100%;
    height:75px;
    background-color:green;
    border:1px solid black;
    box-sizing: border-box;
}
.sha_2{
    flex-basis: 100%;
    height:75px;
    background-color:green;
    border:1px solid black;
    box-sizing: border-box;
}

.bibi_11:nth-of-type(2){
    background-color: red;
    border:1px solid black;
    box-sizing: border-box;
}

.zi_3{
    background-color: pink;
    height:300px;
    flex-basis: 15%;
    border:1px solid black;
    box-sizing: border-box;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
}

.jin:nth-of-type(1){
    flex-basis: 20%;
    border:1px solid black;
    box-sizing: border-box;
}
.jin:nth-of-type(2){
    flex-basis: 60%;
    border:1px solid black;
    box-sizing: border-box;
}
.jin:nth-of-type(3){
    flex-basis: 20%;
    border:1px solid black;
    box-sizing: border-box;
}

