@charset "utf-8";
*{margin:0;padding:0;box-sizing: border-box;}

body{
    overflow-x: hidden;
}

#header{
    width:100%;
    height:60px;
    border:1px solid black;
    display:flex;
    background-color:rgb(19, 19, 19);
    position:fixed;
    top:0;
}

.header-section1{
    display:flex;
   justify-content: center;
   align-items: center;
   padding-left:20px;
   flex-basis: 10%;
}

#header > section {
    height:60px;
    
}

.iwie_23{
    margin-left:20px;
}

.header-section2{
    flex-basis: 80%;
}

form[name="header-form"]{
    display:flex;
    justify-content: center;
    height:100%;
    align-items: center;
}

input[name="input_search"]{
    width: 650px;
    height: 45px;
    border-radius: 30px;
    background-color:black;border:1px solid rgb(83, 83, 83);padding:15px;;color:white;font-size:17px;
    outline: none;
    
}

#i_bb{
    position:relative;
    right:50px;
    color:white;
    font-size:20px;
}
input[name="input_search"]:focus{
    border:1px solid rgb(84, 84, 228);
}

/* input[name="input_search"]:active {
    border: 1px solid blue;
    background-color: lightgray;
} */

.header-section3{
    display:flex;
    align-items: center;
    column-gap: 30px;
}

img{
    width:100%;
    height:100%;
    cursor: pointer;
}

i{
    cursor: pointer;
}

#main{
    display:flex;
}

#content_box{
    width:1942px;
    height:1000px;
    
    margin:0 auto;
    display:flex;
}

.content_box_section1{
    flex-basis: 1300px;
    
    height:1000px;
    padding:20px;
}

.content_box_section2{
    flex-basis: 502px;
    
    height:1000px;
    padding:10px;
}

#shu_23{
    display:flex;
    margin-top:10px;
}

#shu_box1{
    flex-basis: 50%;

}

#shu_box2{
    flex-basis: 50%;
    
}

#susu{
    display:flex;
    column-gap: 15px;
    
}

.susu_btn{
    border-radius: 30px;
    text-align: center;
    height: 45px;
    width: 70px;
    background-color:black;
    color:white;
}

#susu_2{
    margin-right:20px;
}

#susu3 > button{
    cursor: pointer;
}

#shu_box2{
    display:flex;
    align-items: center;
    column-gap: 15px;
}

.shu_box2_section1{
    width:142px;
    height:36px;
}
 


#shu_box2 > section{
    cursor: pointer;
    justify-content: space-around;
    align-items:center;
}

#list_alpha > section {
    cursor: pointer;
}



.shu_box2_section1 i {
    font-size: 25px;
}
.shu_box2_section1 b {
    font-size:18px;
}
.ss{font-size:20px;}

#shu_box2 > section{
    display:flex;
    background-color:#f3f3f3;
    border-radius: 50px;
}

.shu_box2_section2{
    width:80px;
    height:36px;
}

.shu_box2_section3{
    width:145px;
    height:36px;
}
.shu_box2_section4{
    width:80px;
    height:36px;
}
.shu_box2_section5{
    width:80px;
    height:36px;
}

.shu_box2_section2{
    justify-content: center;
}

#shu_box2 i{
    font-size:23px
}

#bogi{
    margin-top:15px;
    
    border-radius: 15px;
    background-color:#f4f7f8;
    padding:10px;
    margin-bottom:15px
}

#bogi_p{
    width:400px;
}

#custon{
    display:flex;
    height:45px;
    column-gap: 15px;
    margin-top:30px;
    margin-bottom:30px;
}

.bisha_232 > input{
    
    padding-bottom:10px;
    width:100%;
    border:none;
    border-bottom:1px solid #e0e0e0;
    outline:none;
  
}




.bisha_232{
    flex-basis: 90%;
}

#people_list{
    display:flex;
    flex-direction: column;
}

.people_list_box_1{
    flex-basis: 100%;
}


.people_list_box_2{
    flex-basis: 100%;
}

.people_list_box_1_flex_box {
    width: 95.5%;
    display: flex;
    margin-bottom: 30px;
    flex-wrap:wrap;
}

.sosdaz_23 > img {
    border-radius: 60px;
    width: 40%;
    height: 67%;
  
}
.sosdaz_23{
    flex-basis: 6%;
   
}


.sosdaz_23 > img {
    border-radius: 60px;
    width: 70%;
    height: 50px;
}

.dasd_2{
    flex-basis: 94%;
    font-size:17px;
}


    .dad3123_23 {
        display: flex;
        margin-top: 10px;
        column-gap: 15px;
        height: 20px;
        margin-left: 70px;
    }
  
    .dwqe{
        margin-top:5px
    }


    #eqwe_23{
        border:1px solid #e0e0e0;
        width:100%;
        height:180px;
        border-radius: 15px;
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: 90px 90px;
        overflow: hidden;
        margin-bottom:20px;
    }

    .fafsfa_23 img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }
    .fafsfa_23{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .sadsad_3123{
        display:flex;
        align-items: center;
        justify-content: space-around;
    }

    .sadsad_3123 > img{
        flex-basis: 80px;
    }

    .dasdsa_32{
        width:80px;
        height:40px;
        border-radius: 30px;
        background-color: #065fd4;
        color:white;
        cursor: pointer;
        border:none;
    }


    #list_alpha{
        display:flex;
        flex-wrap:wrap;
    }

    #list_alpha > section {
        flex-basis: 100%;
    }

    .list_alpha_1{
        display:flex;
    }
    .dsaddd{
        flex-basis:40%;
        border-radius: 10px;
    }
    .dsaddd >img{
        border-radius: 10px;
    }

    .two_section{
        flex-basis: 60%;
        padding:0px 10px
    }

    .p2{margin-top:10px;margin-bottom:20px;font-size:14px;width:80%}
    
    .p3{
        margin-bottom:25px;
    }
   


.dsadsa_38{
    color: #065fd4;
    background-color: #def1ff;
    border-radius: 50px;
    height:40px;
    width:130px;
    border:none;
    cursor: pointer;
}

.dwdad_3424{
    display:flex;
}

.sadasdj_3213{
    flex-basis: 40%;
}
.span_gray{
    font-size:14px;color:gray;
}
.dasd{
    width:80%;
    font-size:16px;
}

.span_gray1{
    margin-top:7px;
    margin-bottom:3px;
}

.sadjsa_125215{
    margin-left:10px;
    flex-basis: 60%;
    height:108.46px;
}

#list_alpha > section{
    margin-top:10px;
}

.sadasdj_3213{
    border-radius: 10px;
    height:108.46px;
}

.sadasdj_3213 > img{
    border-radius: 10px;
}

.clock{
    background-color: rgba(0,0,0,0.6);
    position: relative;
    top: -25px;
    left: 149px;
    width: 40px;
    border-radius: 10px;
  
}
.dadsa_5215{
    color: white;
            font-weight: bold;
            border-radius: 10px;
            font-size:14px;
            text-align: center;
}